{% extends 'base.html' %}

{% block title %}Invoice Operation{% endblock %}
{% block content %}
    <div>
        <div>
            <h2>Create Invoice</h2>
            <div>
                <form autocomplete="off" method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <h3>Item List</h3>
                        {{formset.as_table}}
                    <a href="{{request.META.HTTP_REFERER}}">Back</a>
                    <button type="submit">Create</button>
                </form>
            </div>
        </div> 
    </div>
{% endblock %}
