{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h2>Invoice List
        <h4>
            <a href="{% url 'create-invoice' %}">+ Add new Invoice</a>
        </h4>
    </h2>

    <form action="{% url 'invoice-list' %}" method="get">
        <input type="date" name="q" placeholder="search date">
    </form>

    <div>
        {% for invoice in invoice_list %}
            <table>
                <tr>
                    <th>id</th>
                    <th>first name</th>
                    <th>last name</th>
                    <th>email</th>
                    <th>organisation</th>
                    <th>status</th>
                </tr>
                <tr>
                    <td>
                        <a href="{% url 'invoice-detail' invoice.pk %}">#{{invoice.uuid | slice:":4"}}</a>
                    </td>
                    <td>{{invoice.first_name}}</td>
                    <td>{{invoice.last_name}}</td>
                    <td>{{invoice.email}}</td>
                    <td>{{invoice.organisation}}</td>
                    <td>status</td>
                    <td>
                        <a href="">Edit</a>
                    </td>
                    <td>
                        <a href="">Delete</a>
                    </td>
                </tr>
            </table>
        {% endfor %}
    </div>
    <div class="pagination">
        <span>
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo;first</a>
                <a href="?page={{page_obj.previous_page_number}}">previous</a>
            {% endif %}
            <span>
                Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{page_obj.next_page_number}}">next</a>
                <a href="?page={{page_obj.paginator.num_pages}}">last &laquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}